---
permalink: /team/Brian_Onang_o_cv
layout: cv/layout
author: Brian Onang'o
profilephoto: assets/cv/cvPhotos/Brian_Onang_o_cv/brian.png
tel: 
 - +254706662011  - +254706662012
email: 
 - brian@cseco.co.ke  - surgbc@gmail.com
website: 
 - brianmechanisms.github.io  - www.cseco.co.ke
github: 
 - surgbc  - brianmechanisms
twitter: 
 - csuino
linkedin: 
 - brian-onang-o-87369b44
---

{% include cv/employment.html %}

{% include cv/education.html %}

{% include cv/skills.html %}

{% include cv/initiatives.html %}

{% include cv/interests.html %}
