<footer id="footer">
    <ul class="icons">
        <li><a href="https://www.linkedin.com/company/{{site.Contact.Linkedin}}" class="icon brands fa-linkedin-in" target="_blank"><span class="label">Instagram</span></a></li>
        <li><a href="https://github.com/{{site.Contact.Github}}" class="icon brands fa-github" target="_blank"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.youtube.com/@{{site.Contact.Youtube}}" class="icon brands fa-youtube" target="_blank"><span class="label">Youtube</span></a></li>
        <li><a href="mailto:{{site.Contact.Email}}" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>
            Copyright © 
        {% assign currentYear = 'now' | date: '%Y' %}
        {% if currentYear == site.startYear %}
        {{ site.startYear }} <a class="border-bottom" href="{{ site.baseurl }}#">{{ site.owner}}</a>
        {% else %}
        {{ site.startYear }}-{{ 'now' | date: "%Y" }} <a class="border-bottom" href="{{ site.baseurl }}#">{{ site.owner}}</a>
        {% endif %}
        </li>
    </ul>
</footer>

</div>

<!-- Scripts -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.SiteConfig.analytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', "{{site.SiteConfig.analytics}}");
</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>